body{
    overflow: hidden;
    background-color: #f1f1f1;
}

.card{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    height: 400px;
    width: auto;
    overflow: hidden;
    background-color: black;
}

.inner-card{
    height: 400px;
    width: auto;
    /* background-url(../); */
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

span{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius:50% ;
    background-image: "";
    background-size: 33%;
    background-attachment: fixed;
    background-position: 650px 300px;
    background-repeat: no-repeat;
    pointer-events: none;
}