.container{
    background-color: aqua;
   margin:100px;
   margin-left: 60vh;
   width:min-content;
   padding: 20px;
   text-align: center;
   justify-content: center;
   border-radius: 10px  ;
   align-items: center;

}

label{
    color:green;
    font-size: large;
}

input{
    width:30vw;
    height: 5vh;
    text-align: center;

}

button{
  width: 20vw;
    height: 50px;
    font: 100px bolder;
   font-size: medium;
   background-color: rgb(18, 20, 146);
   border-radius: 5px;
   color: white;
   border: none;
}

/* button:hover{
    transform: scale(1.2);
} */


@media (max-width:768px){
    .container{
        display: flow-root;
        width: inherit;
        margin-left: 20px;
        justify-content: center;
        margin: 0;
        margin-top: 100px;
        padding: 20px;
    }

    input{
        width: 70vw;
    }
}